body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
   padding: 10px;
   box-sizing: border-box;
   border: solid #b2bdac 1px;
} 

input:hover{
    background-color: #cbd6e5;
}

button{
    background-color: #46732e;
    color: #fafff0;
    border: solid 1px #657b5a;
    padding: 10px 20px;
    margin-top: 3px;
    font-weight: bold;
}

button:hover{
    background-color: #fafff0;
    color: #46732e;
    cursor: pointer;
}


ul{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li{
    margin-top: 5px;
}
a{
    color: #46732e;
}